.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  &__icon {
    display: flex;
    cursor: pointer;
    &--img {
      width: min(100% - 2rem, 100px);
      object-fit: contain;
    }
    &--text {
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
}

.nav a {
  margin-left: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-decoration: none;

  &:hover {
    color: white;
  }
}