@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


$primary-color: #0ff;
$bg-color: #111;
$font-family: 'Pixelify Sans', 'DotGothic16', 'Noto Sans JP', sans-serif;
